<footer>
    <div class="main-footer">
      <ul class="footer-description">
        <p>Todos los derechos e Izquierdos Reservados. Virgos in Virtute es una organizacion sin fines de lucro almenos por ahora...</p>
      </ul>
      <div id="socialIcons">
        <a href="https://www.instagram.com/virgogaminginc/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCGW59-QUc5B9zsYw-1uj4Gw"><i class="fa fa-youtube-play"></i></a>
        <a href="https://open.spotify.com/playlist/5Yw41DcQvZaxJ0jmlCeRgE?si=CMHhZMJPRLSpzS5xLpa3tw"><i class="fa fa-spotify"></i></a>
        <a href="https://github.com/AlexQS96"><i class="fa fa-github"></i></a>
      </div>
    </div>
</footer>