<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <div class="page_Container">
    <%- include('partials/header.ejs') %>
    <main>
      <div id="screenMessage">
        <pre></pre>Contacto con el Grupo</pre>
        <a href="https://www.taringa.net/que_pasa1"><pre>Mandale un Privado <i id="acoIcon" class="fa fa-linux"></i></pre></a>
      </div>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>