<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <div class="page_Container">
    <%- include('partials/header.ejs') %>
    <main>
      <article>
        <img  class="codpaBanner"  src="/images/banners/codpa_2020.jpg" alt="Codpa2020">
      </article>
      <div class="grid_Codpa">

        <section class="frame_Group">
          <label>Grupo 1</label>
          <article>
            <img src="/images/codpa_CODAmericana/aco_cod.jpg" alt="Aco">
            <label>Aco</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/fer_cod.jpg" alt="Fer">
            <label>Fer</label>
          </article>
        </section>

        <section class="frame_Group">
          <label>Grupo 2</label>
          <article>
            <img src="/images/codpa_CODAmericana/javi_cod.jpg" alt="Javi">
            <label>Javi</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/nico_cod.jpg" alt="Nico">
            <label>Nico</label>
          </article>
        </section>

        <section>
          <label>Grupo 3</label>
          <article>
            <img src="/images/codpa_CODAmericana/viking_cod.jpg" alt="Viking">
            <label>Viking</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/sartre_cod.jpg" alt="Sartre">
            <label>Sartre</label>
          </article>
        </section>

        <section>
          <label>Grupo 4</label>
          <article>
            <img src="/images/codpa_CODAmericana/ale_cod.jpg" alt="Ale">
            <label>Ale</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/aj_cod.jpg" alt="AJ">
            <label>AJ</label>
          </article>
        </section>

        <section>
          <label>Grupo 5</label>
          <article>
            <img src="/images/codpa_CODAmericana/nabue_cod.jpg" alt="Nabu">
            <label>Nabu</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/bain_cod.jpg" alt="Bain">
            <label>Bain</label>
          </article>
        </section>

        <section>
          <label>Grupo 6</label>
          <article>
            <img src="/images/codpa_CODAmericana/mati_cod.jpg" alt="Mati">
            <label>Mati</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/facu_cod.jpg" alt="Facu">
            <label>Facu</label>
          </article>
        </section>

        <section>
          <label>Grupo 7</label>
          <article>
            <img src="/images/codpa_CODAmericana/diego_cod.jpg" alt="Diego">
            <label>Diego</label>
          </article>
          <article>
            <img src="/images/codpa_CODAmericana/mantita_cod.jpg" alt="Mantita">
            <label>Mantita</label>
          </article>
        </section>

      </div>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>