/* Footer Section */

/*Footer*/

.footer_Box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 15px 15px 10px 15px;
    background: linear-gradient(#202025,#000);
    color: white;
}

/*Content Text - Icons*/

#socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#socialIcons i{
    font-size: 35px;
    color: rgb(216, 216, 216);
    transition: color .2s;
}

#socialIcons i:hover{
    color: white;
}

