.logo{
    font-size: 20px;
    order: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    color: white;
    background:#044377;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1.0); /*sombrita*/
    z-index: 101;
}

.navbar a{
    color: white;
    margin: 0 4px;
}

.nav_Options{
    display: none;
    flex-grow: 0.9;
    user-select: none;
}

.nav_Options a{
    border: 3px solid transparent;
}

#mobile_Active a:hover,
.nav_Options a:hover{
    font-weight: 600;
}

.menuButtonMobile{
    display: block;
    order: 2;
}

.panel_Opened{
    overflow: hidden;
}

/* Boton Hamburguesa */

#mobile_Active{
    animation: mobileFade 0.5s;
    display: none;
    flex-direction: column;
    padding: 10px 25px;
    background-color: #044377;
    gap: 15px;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    margin-right: 0;
    margin-left: auto;
}

#mobile_Active a{
    color: white;
}

@keyframes mobileFade {
    from {
        opacity: 0; 
        -webkit-transform: translate3d(100%, 0, 0);
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

/* Boton */

.menuButtonMobile {
    /* transform: scale(0.6); */
    background-color: transparent;
    outline: none;
    border-style: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
}

.menuButtonMobile .burgerLine{
    width: 28px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menuButtonMobile:hover{
    cursor: pointer;
}

#burgerButton.is-active .burgerLine:nth-child(2){
    opacity: 0;
}

#burgerButton.is-active .burgerLine:nth-child(1){
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    -o-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}

#burgerButton.is-active .burgerLine:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

/* Fin Boton Hamburguesa */

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 481px){

}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 769px){

    #mobile_Active,
    .menuButtonMobile,
    .mobileMenu{
        display: none !important;
    }

    .nav_Options{
        display: block;
        order: 2;
    }
}