/* Codpa Americana */

.grid_Codpa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.grid_Codpa article img{
    width: 140px;
    height: 140px;
}

.grid_Codpa article
{
    background-color: black;
    height: 200px;
    border: thick double rgb(209, 178, 2);
}

.grid_Codpa section label:nth-child(1){
    border: thick double rgb(209, 178, 2);
    background-color: black;
    line-height: 40px;
}

.grid_Codpa section label,
.grid_Codpa article label{
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    font-size: 20px;
}

.codpaBanner{
    width: 100%;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 481px){

}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 769px){
    
}