@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(member.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {
    font-family:'taringa';
    src: url("../fonts/taringa.woff2");
}

@font-face {
    font-family:'prototype';
    src: url("../fonts/Prototype.ttf");
}

/* Scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#35363A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77); 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "prototype";
    text-decoration:none;
    -webkit-tap-highlight-color: transparent;
}

html,
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}

header{
    position: fixed;
    width: 100%;
    top : 0;
    z-index: 100;
}

main{
    margin-top: 50px;
    flex: 1;
}

/* Decorative Stuff */

.rel_obj{
    height: 100%;
    width: 100%;
    position: relative;
}

.desertPlant{
    position: absolute;
    bottom: 0%;
    height: 30%;
    width: 100%;
}

/* Screen Messages */

#screenMessage{
    margin-top: 2rem;
    color: white;
    font-size:1.7rem;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#screenMessage a{
    margin-top: 0.5rem;
    color: white;
}

#acoIcon:hover::before {
    transform: rotate(360deg);
}
  
#acoIcon:before {
    display: inline-block;/* mandatory to be able to use transform */
    transition: 1s all;
}

.errorPageNotFound{
    display: grid;
    grid-template-areas: 
    'msgError'
    'apuCrying';
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.errorPageNotFound img{
    grid-area: apuCrying;
    width: 100%;
    align-self: end;
}

.errorPageNotFound p{
    border-radius: 1rem;
    background: white;
    padding: 25px;
    font-size: 40px;
    grid-area: msgError;
    text-align: center;
    margin: auto;
    width: 85%;
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 481px){

}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 769px){
    .errorPageNotFound{
        grid-template-areas: 'apuCrying msgError';
        grid-template-columns: 30% 70%;
    }
}