<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <main>
      <div class="errorPageNotFound">
        <p><%= error %> </p>
        <img src="/images/backgrounds/apuError.png" alt="Apu Crying">
      </div>
  </main>
  <%- include('partials/footer.ejs') %> 
</body>
</html>