<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <div class="page_Container">
    <%- include('partials/header.ejs') %>
    <main>
      <img class="desertPlant" src="/images/deco/desert.gif" alt="-">
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>