<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <main class="lynx_BG">
    <div class="rel_obj">
      <img class="desertPlant" src="/images/deco/desert.gif" alt="-">
    </div>
  </main>
  <%- include('partials/footer.ejs') %> 
</body>
</html>