<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico" type="image/x-icon">
    <title>MR X</title>
</head>
<body>
    <div class="mr_x_bg">
        <a href="/">Volver</a>
        <img src="/images/backgrounds/jesus.gif" alt="Jebus">
        <img src="/images/backgrounds/apudance.gif" alt="Apu">
        <img src="/images/backgrounds/fortdance.gif" alt="El Comandante">
    </div>
</body>
</html>