<header>
    <div class="navbar">
        <div class="logo">
            <a href="/">Taringa at Telegram!</a>
        </div>

        <div class="nav_Options">
            <a href="/miembros">Miembros</a>
            <a href="/eventos">Eventos</a>
            <a href="/contacto">Contacto</a>
            <a href="/mrx">MR X</a>
        </div>

        <button onclick="burgerButtonM();" class="menuButtonMobile" id="burgerButton">
            <span class="burgerLine"></span>
            <span class="burgerLine"></span>
            <span class="burgerLine"></span>
        </button>

    </div>
    
    <div id="mobile_Active">
        <a href="/miembros">Miembros</a>
        <a href="/eventos">Eventos</a>
        <a href="/contacto">Contacto</a>
        <a href="/mrx">MR X</a>
    </div>
</header>