<header>
    <div class="navbar">
        <div>
            <a class="logo" href="/">Taringa at Telegram!</a>
        </div>

        <!-- Navigation Bar Desktop -->

        <div class="nav_Options">
            <a href="/miembros">Miembros</a>
            <a href="/eventos">Eventos</a>
            <a href="/contacto">Contacto</a>
        </div>

        <!-- Mobile Menu -->

        <button onclick="burgerButtonM();" class="menuButtonMobile" id="burgerButton">
            <span class="burgerLine"></span>
            <span class="burgerLine"></span>
            <span class="burgerLine"></span>
        </button>

        <!-- End Mobile Menu -->

    </div>
    <div id="mobile_Active">
        <a href="/miembros">Miembros</a>
        <a href="/eventos">Eventos</a>
        <a href="/contacto">Contacto</a>
    </div>
</header>