<header>
    <div class="navbar">
        <div><a class="logo" href="/">Taringa at Telegram!</a></div>

        <!-- Navigation Bar Desktop -->

        <nav class="optionsDesktop">
            <ul>
            <li><a href="/miembros">Miembros</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>

        <!-- Desktop Time and Date -->

        <div class="dayAndTime">
            <span id="time"></span>
            <span id='date'></span>
        </div>

        <!-- End Time and Date -->

        <!-- Mobile Menu -->

        <div class="dropdown">
            <button onclick="burgerButtonM();" class="menuButtonMobile" id="burgerButton">
                <span class="burgerLine"></span>
                <span class="burgerLine"></span>
                <span class="burgerLine"></span>
            </button>
            <div id="dropdown-content">
            <a href="/miembros">Miembros</a>
            <a href="/eventos">Eventos</a>
            <a href="/contacto">Contacto</a>
            </div>
        </div>

        <!-- End Mobile Menu -->

    </div>
</header>